body {
	background-color:#FFFFFF;
}
.Section {
	margin:10px;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}
.header {
	padding:0px;
	margin:0px;
}

.leftcolumn {
	width:250px;
}

.rightcolumn {
	width:250px;
}





