<?xml version="1.0" encoding="UTF-8"?>
<adminPlugin id="accountsManager" version="1.1">
	<description>
		This plugin is used to manage HomePortals accounts
	</description>
	<menu optionGroupLabel="Accounts">
		<option label="Search" view="accountsManager/main" />
	</menu>
	<views>
		<view id="accountsManager/main" />
		<view id="accountsManager/edit" />
	</views>
	<events>
		<event id="accountsManager.doSearch" component="eventHandlers.accountsManager.ehGeneral" method="doSearch" />
		<event id="accountsManager.doSave" component="eventHandlers.accountsManager.ehGeneral" method="doSave" />
		<event id="accountsManager.doDelete" component="eventHandlers.accountsManager.ehGeneral" method="doDelete" />
		<event id="accountsManager.doChangePassword" component="eventHandlers.accountsManager.ehGeneral" method="doChangePassword" />
		<event id="accountsManager.doDeleteFile" component="eventHandlers.accountsManager.ehGeneral" method="doDeleteFile" />
		<event id="accountsManager.doUploadFile" component="eventHandlers.accountsManager.ehGeneral" method="doUploadFile" />
	</events>
</adminPlugin>