<root>
	<!-- General -->
	<event id="prologue" component="eventHandlers.ehGeneral" executionMode="pre" />
	<event id="login" component="eventHandlers.ehGeneral" />
	<event id="changePassword" component="eventHandlers.ehGeneral" />

	<!-- Settings -->
	<event id="saveSettings" component="eventHandlers.ehGeneral" />
	<event id="saveResource" component="eventHandlers.ehGeneral" />
	<event id="deleteResource" component="eventHandlers.ehGeneral" />
	<event id="saveModuleIcon" component="eventHandlers.ehGeneral" />
	<event id="deleteModuleIcon" component="eventHandlers.ehGeneral" />

	<!-- Accounts -->
	<event id="saveAccountInfo" component="eventHandlers.ehAccounts" />
	<event id="saveAccountStorageInfo" component="eventHandlers.ehAccounts" />
	<event id="initializeAccountStorage" component="eventHandlers.ehAccounts" />

	<!-- Plugins -->
	<event id="addPlugin" component="eventHandlers.ehPlugins" />
	<event id="removePlugin" component="eventHandlers.ehPlugins" />
</root>