body {
	background-color:#fff;
	font-family:"Trebuchet MS";
	margin:0px;
	padding:0px;
	#text-align:center;
	font-size:12px;
	line-height:18px;
}

a, a:link,
a:hover, a:visited,
a:active {
	color:#000;
}
a:hover {
	color:blue;
}
#h_main {
	margin:20px;
	background-color:#fff;
	color:#000;
	width:730px;
	margin:0 auto;
	#text-align:left;
	background-repeat:repeat-x;
	background-position:bottom;
	padding-bottom:50px;
}
#mainContent {
	margin-left:0px;
}

#header {
	background-image:url(/homePortals/contentRoot/_res/images/top-header.gif);
	background-repeat:no-repeat;
	height:75px;
	padding-left:60px;
	margin-bottom:40px;
}
#footer {
	clear:both;
}
#footer, #footer a {
	text-align:center;
	color:#999;
	font-size:10px;
	margin-top:20px;
}
.rightcolumn {
	width:220px;
}

h1 {
	font-size:18px;
	margin:0px;
	color:#666;
	margin-bottom:10px;
}

#mainMenu {
	float:right;
	font-size:12px;
	margin-right:20px;
	font-family:"Arial Rounded MT Bold";
	margin-top:30px;
	letter-spacing:1px;
}

#mainMenu a, #mainMenu a:link,
#mainMenu a:hover, #mainMenu a:visited,
#mainMenu a:active {
	color:#fff !important;
	text-decoration:underline;
	font-family:"Trebuchet MS";
	font-weight:normal;
}

#mainMenu a:hover {
	color:#ff9900 !important;
	text-decoration:underline;
	font-family:"Trebuchet MS";
	font-weight:normal;
}
#h_body {
	clear:both;
}
#version {
	background-image:url(/homePortals/contentRoot/_res/images/box_orange_bg.gif);
	background-repeat:no-repeat;
	height:120px;
	color:#fff;
	padding:10px;
	line-height:24px;
}

#webviewer1 h1 {
	color:#fff;
}

.license {
	width:150px;
	text-align:center;
}
