<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>$PAGE_TITLE$</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
		$PAGE_HTMLHEAD$
	</head>

	<body onLoad="$PAGE_ONLOAD$">
		<div id="h_main">
			<div id="h_header">
				<!-- Custom headers -->
				$PAGE_CUSTOMSECTION["HEADER"]$
				
				<!-- Header Sections -->
				$PAGE_LAYOUTSECTION["HEADER"]["DIV"]$
			</div>

			<!-- Column sections -->
			<table border="0" cellspacing="0" cellpadding="0" width="100%" id="h_body">
				<tr valign="top">
					$PAGE_LAYOUTSECTION["COLUMN"]["TD"]$
				</tr>
			</table>

			<div id="h_footer">
				<!-- Footer sections -->
				$PAGE_LAYOUTSECTION["FOOTER"]["DIV"]$
	
				<!-- Custom footers -->
				$PAGE_CUSTOMSECTION["FOOTER"]$
			</div>
		</div>
	</body>
</html>
