/* CSS Document */

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#666666;
}
input {
	font-size:14px;
	color:#666666;
}
h1 {
	font-size:18px;
	margin-bottom:15px;
}
a, a:visited, a:active {
	color:#990000;
}
a:hover {
	color:#333333;
}

.validLabel {
	color:#009900;
	font-weight:bold;
}
.invalidLabel {
	color:#990000;
	font-weight:bold;
}
.info {
	margin-top:20px;
	padding:10px;
	background-color:#EBFDC1;
	font-size:11px;
}
		
#header {
	border-bottom:1px solid black;
}
.mainMenuList a {
	line-height:25px;
	color:#666666;
	font-weight:bold;
	text-decoration:none;
}
.mainMenuList a:hover {
	text-decoration:none;
	color:black;
}
.menuSubOption {
	line-height:15px !important;
	font-size:12px;
	padding-left:15px;
}
.tblGrid {
	border-collapse:collapse;
}
.tblGrid th {
	color:white;
	background-color:#000000;
}
.tblGrid td {
	border:1px solid black;
	padding:5px;
	color:#000000;
	font-size:11px;
}
